<footer class="rel zi-high px-large py-medium d-flex jc-between">
  <p class="p7 mr-small c-light">
    <span class="o-muted">Designed and built by</span>
    <%= link_to 'Oatw', data.kickoff.oatw, class: 'link-light fw-semibold' %>,
    <span class="o-muted">Code licensed</span>
    <%= link_to 'MIT', data.kickoff.license, class: 'link-light fw-semibold' %>.
  </p>
  <p class="p7 c-light">
    <%= link_to 'Contributing', data.kickoff.contributing, class: 'link-light px-tiny td-none' %>
    <span class="o-main">|</span>
    <%= link_to 'Feature Request', data.kickoff.feature_request, class: 'link-light px-tiny td-none' %>
    <span class="o-main">|</span>
    <%= link_to 'Bug Report', data.kickoff.bug_report, class: 'link-light px-tiny td-none' %>
  </p>
</footer>
